<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="icon" href="/img/{{iconName}}.svg"/>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        {{>header}}
        <div class="content">
            <p><b>Help Message:</b> {{helpMsg}}</p>
        </div>
        {{>footer}}
    </body>

</html>