<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather</title>
        <link rel="icon" href="./img/{{iconName}}.svg"/>
        <link rel="stylesheet" href="./css/styles.css" />
        <script defer src="./js/script.js" type="module"> </script>
    </head>

    <body>
        {{>header}}
        <div class="content">
            <div class="getWeatherContainer">
                <div class="locationInputContainer">
                    <p>Enter Desired Location:</p>
                    <input type="text" class="mainInput locationInput" id="location_input">
                </div>
                <button type="button" class="mainBtn" id="get_weather_btn">Get Forecast</button>
            </div>
            <div id="forecast_container" class="forecastContainer">
            </div>
        </div>
        {{>footer}}
    </body>

</html>