<header class="headerContainer">
    <div class="headerTitleContainer">
        <h1 class="headerTitleText">{{title}}</h1>
        <img class="mainIcon" src="./img/{{iconName}}.svg" />
    </div>
    <div class="headerLinkContainer">
        <a href="/">Weather Page</a>
        <a href="/about">About Page</a>
        <a href="/help">Help Page</a>
    </div>
</header>